<div class="div_align border-label">
        <div class="circle" [ngClass]="{
            'pink-circle': status==='APPLICATION',
            'red-circle': status==='DISCUSSION',
            'orange-circle': status==='WAITING_ASSOCIATION_VALIDATION',
            'yellow-circle': status==='WAITING_MANAGER_VALIDATION',
            'green-circle': status==='IN_PROGRESS',
            'dark-green-circle': status==='USER_HAS_PARTICIPATED'
            }">
        </div>
        <div class="status-label">
                {{ status | status }}
        </div>
</div>
