<div class="div_align border-label" [ngClass]="{'clickable':status.count !== null, 'disabled':status.count !== null && !active}" (click)="onClicked()">
        <div class="circle" [ngClass]="{
            'pink-circle': status.status==='APPLICATION',
            'red-circle': status.status==='DISCUSSION',
            'orange-circle': status.status==='WAITING_ASSOCIATION_VALIDATION',
            'yellow-circle': status.status==='WAITING_MANAGER_VALIDATION',
            'green-circle': status.status==='IN_PROGRESS',
            'dark-green-circle': status.status==='USER_HAS_PARTICIPATED'
            }">
        </div>
        <div class="status-label">
            {{ status.status | status }}
        </div>
        <div class="status-count" *ngIf="status.count !== null && status.count > 0">
            {{ status.count }}
        </div>
</div>
