.info-card {
    padding: 20px;
}

img {
    height: auto;
    width: 100%;
    max-width: 150px;
}

.card-id {
    border-right: 1px solid #D8D8D8;
}

.p-id {
    color: #404040;
    margin: 0px;
    text-align: center;
    display: block;
}

.p-volunteer-name {
    font-weight: bold;
    font-size: 16px;
    color: #0C0C0C;
    margin-bottom: 3px;
}

.p-company-name {
    font-size: 14px;
    color: #404040;
}

.p-li-volunteer {
    margin-bottom: 3px;
}

.status-label {
    margin-top: 25px;
}