/* You can add global styles to this file, and also import other style files */
body {
    background-color:#FAFAFA;
    margin:0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


h1 {
    font-size: 36px;
    color: #0C0C0C;
}

h2 {
    font-weight: 200;
    font-size: 24px;
    color: #0C0C0C;
}

h3 {
    font-weight: 500;
    font-size: 18px;
    color: #0C0C0C;
}

fa-icon {
    padding-right: 10px;
}

.div_align {
    display: flex;
}

.light-label {
    font-size: 14px;
    color: #8C8C8C;
}